@{
    ViewData["Title"] = "Pc-Pdx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PcPdx.Models.Show


<h4>Edit this show: @Html.DisplayFor(model => model.ShowTitle)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ShowId)
    @Html.HiddenFor(model => model.ApplicationUserId)


    @Html.LabelFor(model => model.ShowTitle)
    @Html.EditorFor(model => model.ShowTitle)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to shows", "Index")</p>

<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<script src="~/js/EnvironmentVariables.js"></script>
<script>

 var id = "@(Model.SoundCloudId)";

var target =id.replace(/(^\s+|[^a-zA-Z0-9 ]+|\s+$)/g, "");
target = target.replace(/\s+/g, "-");

console.log(target);

var track_url = 'http://soundcloud.com/' + target;

$.getJSON('http://soundcloud.com/oembed?callback=?',
{ format: 'js', url: track_url, iframe: true },
function (data) {
    $('#your_player_div').html(data['html'])
}
)

</script>

<div id="your_player_div"></div>